{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

            {% if current_user.is_authenticated %}
            <div>

                    {{ wtf.quick_form(form) }}
                </div>
            {% else %}
            <div class="well-sm">
                <h2>No Account</h2>
            <p><strong> Dear user,<br>user You don't have an account, hence you can not create a post or blog.</strong></p>
            <h4><a href="{{url_for('auth.login')}}">LOGIN</a> <br> <a href="/"> HOME </a></h4>
            </div>
            {%endif%}


    </div>

{% endblock %}